{% extends 'base.html' %}

{% block content %}
<!-- Header -->
<header class="hero">
    <div class="container">
        <div class="row gap-lg-5 gap-4">
            <div class="col m-auto">
                <h1 class="header-title text-center">Reposteria y Pasteleria Kenyi</h1>
                <p class="header-subtitle text-center">Deliciosos momentos, endulzando tu vida</p>
                <div class="d-flex justify-content-center">
                    <a class="button" href="">Contactanos <i class="bi bi-arrow-right-circle-fill"></i></a>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <img class="rounded-circle header-img" src="../static/imgs/header.jpg" alt="image">
            </div>
        </div>
    </div>
</header>
<!-- Mas vendidos -->
<section class="section-dark pt-5 pb-5">
    <h2 class="section-title text-center">Los mas vendidos</h2>
    <div class="container pt-3 pb-3 ">
        <div class="row gap-5 gap-lg-0">
            <div class="col-12 col-lg-4">
                <div class="card h-100">
                    <img src="../static/imgs/tres-leches.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>Tres leches</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card h-100">
                    <img src="../static/imgs/cheesecake.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>CheeseCake</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card h-100">
                    <img src="../static/imgs/queque.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>Queque con luestre de mantequilla</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Caracteristica1 -->
<section class="pt-4 pb-4 pb-lg-0 pt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 m-auto">
                <h2 class="section-title">Pasteles a tu gusto</h2>
                <p class="section-subtitle">Preparamos tu pastel con el diseño que quieras, lo unico que necesitamos es una foto de como te gustaria que quedara</p>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-lg-end justify-content-center">
                <img class="section-img my-auto" src="../static/imgs/image1.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Caracteristica2 -->
<section class="section-dark pt-4 pb-4 pb-lg-0 pt-lg-0">
    <div class="container">
        <div class="row d-none d-md-flex">
            <div class="col-12 col-lg-6 d-flex justify-content-lg-start justify-content-center">
                <img class="section-img my-auto" src="../static/imgs/bocadillos.png" alt="">
                
            </div>
            <div class="col-12 col-lg-6 m-auto">
                <h2 class="section-title text-lg-end">Bocadillos</h2>
                <p class="section-subtitle text-lg-end">Tambien ofecemos una amplia variedad de bocadillos para cada una
                    de tus festividades, le ofrecemos: cupcakes, alfajores, cakepops, rollos de salchicha, empanadas, y
                    mucho mucho mas</p>
            </div>
        </div>
        <div class="row d-md-none">
            <div class="col-12 col-lg-6 m-auto">
                <h2 class="section-title text-lg-end">Bocadillos</h2>
                <p class="section-subtitle text-lg-end">Tambien ofecemos una amplia variedad de bocadillos para cada una
                    de tus festividades, le ofrecemos: cupcakes, alfajores, cakepops, rollos de salchicha, empanadas, y
                    mucho mucho mas</p>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-lg-start justify-content-center">
                <img class="section-img m-auto" src="../static/imgs/bocadillos.png" alt="">
                
            </div>
        </div>
    </div>
</section>
<!-- Caracteristica3 -->
<!-- <section class="section-dark pt-4 pb-4 pb-lg-0 pt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 m-auto">
                <h2 class="section-title">Donde encontrarnos</h2>
                <p class="section-subtitle">Estamos ubicados de la entrada del boli 50mts al norte, al lado izquierdo
                    despues de una venta de numeros veras una casa amarilla, esos somos nosotros!</p>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-lg-end justify-content-center">
                <img class="section-img" src="../static/imgs/image1.png" alt="">
            </div>
        </div>
    </div>
</section> -->
{% endblock %}