<footer class="footer pt-5 pb-5">
    <div class="container">
        <div class="row">
             <div class="col">
                <img class="footer-img" src="../../static/imgs/logo.png" alt="">
             </div>
             <div class="col m-auto">
                <h3 class="text-end redes">Redes sociales</h3>
                <div class="d-flex justify-content-end gap-3">
                    <a href="https://www.facebook.com/ReposteriaKenyi">
                        <img class="social" src="../../static/imgs/facebook.png" alt="facebook">
                    </a>
                    <a href="https://www.instagram.com/resposteriakenyi/">
                        <img class="social" src="../../static/imgs/instagram.png" alt="instagram">
                    </a>
                    <img class="social" src="../../static/imgs/whatsapp.png" alt="facebook">
                </div>
             </div>
        </div>
    </div>
</footer>